
<h1 class="text-center text-info" style="text-transform: capitalize;">Update employees from here</h1>

<div class=" add">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card  bg-dark">
          <div class="card-body">
            <div class="form-group">
              <label class="text-info">user</label>
              <input type="text" #user="ngModel" [(ngModel)]="object.name"  required ngModel class="form-control mb-2" placeholder="UserName">

            </div>
            <div class="form-group">
              <label class="text-info">position</label>
              <input [(ngModel)]="object.position" type="text" #position="ngModel" required ngModel class="form-control mb-2" placeholder="UserName">
            </div>
            <div class="form-group">
              <label class="text-info">imgUrl</label>
              <input [(ngModel)]="object.imgUrl" type="text" #position="ngModel" required ngModel class="form-control mb-2" placeholder="UserName">
            </div>
            <div *ngIf='user.touched && user.invalid || position.touched && position.invalid' class="alert alert-danger">
              please enter valid data
            </div>
            <div *ngIf="user.valid && position.valid">
              <button (click)="update()" class="btn btn-info btn-block w-50 mx-auto">Add data</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
